<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.overshifted.godotcaffebazaar">

    <application>
        <meta-data
            android:name="org.godotengine.plugin.v1.GodotCaffebazaar"
            android:value="com.overshifted.godotcaffebazaar.GodotCaffebazaar" />
    </application>
</manifest>